<section class="grid_12">
  <%= form_for @page, :url => admin_page_path(@page), :html => { :class => "form" } do |f| %>
    <%= field_set_tag "" do %>
      <%= render 'form', :f => f %>
    <% end %>
  <% end %>
</section>
