<section class="grid_6">
  <div class="box-header">Latest Post</div>
  <div class="box">
    <section>
      <h3 class="no-margin"><%= @post.title %></h3>
      <p class="small" style="margin-left: 0;">By <%= @post.user.username %> on <%= format_date(@post.created_at) %></p>
      <%= markdown(@post.body.truncate(255)) %>
    </section>
  </div>
</section>
