body
{
  font-size: 14px;
  background: #fff url("/assets/bg.jpg") center center repeat;

  > header
  {
    height: 40px;
    margin-bottom: 20px;
    background-color: #efefef;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;

    > h1
    {
      font-size: 1.5em;
      width: 120px;
      float: left;
      margin: 5px 0 0 20px;
      font-weight: bold;
    }

    > nav
    {
      margin-top: 10px;

      // This is to hide elements that don't fit
      height: 19px;
      overflow-y: hidden;

      > section#menu
      {
        width: 500px;
        float: left;
        margin-left: 20px;

        ul li
        {
          display: inline;

          a
          {
            display: block;
            float: left;
            padding: 0 10px;
            border-left: 1px solid #000;
          }

          &:first-child a
          {
            border: none;
          }
        }
      }

      > section#authentication
      {
        width: 260px;
        text-align: right;
        float: right;
        margin-right: 20px;
      }
    }
  } // End of header styling
}

div#wrapper
{
  width: 960px;
  margin: 0 auto;

  .box
  {
    border: 1px solid #c3c7c6;
    background-color: #fff;
    // Rounded corners;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    header
    {
      height: 40px;
      border-bottom: 1px solid #c3c7c6;
      background-color: #efefef;
      margin-bottom: 20px;
      h2
      {
        margin: 0;
        padding: 7px 10px 10px 20px;
      }
    }

    table
    {
      margin: 10px;
      width: 940px;

      tr th
      {
        text-align: left;
        background-color: #efefef;
        border-left: 1px solid #c3c7c6;

        &:first-child
        {
          border: none;
        }
      }

      tr:nth-child(odd)
      {
        background-color: #e3f5f5;
      }
    }
  }

  > footer
  {
    border: 1px solid #c3c7c6;
    margin-bottom: 20px;
    background-color: #efefef;
    // Rounded corners
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    > p
    {
      margin-left: 20px;
    }
  }
}

pre.debug_dump
{
  color: red;
  border: 1px solid #c3c7c6;
  padding: 10px;
  background-color: #fff;
  // Rounded corners
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
