div#wrapper
{
  section.box
  {
    width: 350px;
    float: left;

    section.post
    {
      margin: 10px;

      h3
      {
        margin: 0;
      }

      p.small
      {
        margin: 0 0 10px 0;
        font-size: 85%;
      }
    }
  }
}
