<% if @post.errors.any? %>
  <div id="error_explanation">
    <% @post.errors.full_messages.each do |message| %>
      <p class="notification error"><%= message %></p>
    <% end %>
  </div>
<% end %>
