<div class="grid_12">
  <div class="box-header">Are you sure you want to delete the following post?</div>
  <div class="box">

    <section>
      <h3 class="no-margin">Title:</h3>
      <%= @post.title %>
    </section>

    <section>
      <h3 class="no-margin">Body:</h3>
      <%= @post.body %>
    </section>

    <p class="no-margin">
      <%= link_to "Cancel", admin_post_path(@post) %>&nbsp;
      <%= link_to "Delete", admin_post_path(@post), :method => :delete, :class => "button small" %>
    </p>
  </div>
</div>
