<section class="grid_12">
  <%= form_for @post, :url => admin_posts_path(@user), :html => { :class => "form" } do |f| %>
    <%= field_set_tag "" do %>
      <%= render 'form', :f => f %>
    <% end %>
  <% end %>
</section>
